.container {
  max-width: 600px;
  margin: 60 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 60px;
}

select {
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-break: 36px line-height 48px;
}
h1 {
  font-family: arial;
  font-size: 36px;
  text-align: center;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
body {
  background-color: lavender;
}
footer {
  text-align: center;
  font-size: 18px;
  color: rgba (0, 0, 0, 0.7);
}
